body {
    margin: 0;
    font-family: "Helvetica", sans-serif;
    color: seashell;
    background-color: black;
    font-size: 22px;
    text-align: center;
}

a {
    color: seashell
}

h2, h3, h4 {
    margin: 0;
    padding: 10px;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

header {
    width: 100%;
    z-index: 1;
    height: 69px;
    background-color: black;
    border-bottom: 1px solid seashell;
    align-items: center;
    position: fixed;
}

header img {
    height: 50px;
    padding-left: 10px;
}

nav {
    text-align: right;
    flex-grow: 1;
}

nav span {
    display: inline-block;
    padding: 20px 10px;
}

/* mission section */

#mission {
    height: 700px;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
    padding: 70px;
    background-repeat: no-repeat;
    background-position: center center;
}

#mission .content {
    margin: auto;
    background-color: black;
    width: 100%;
}

/* store section */

#store {
    height: 700px;
    width: 1000px;
    margin: auto;
    padding-top: 70px;
}

.item {
    padding: 5px;
    position: relative;
}

.item img {
    height: 200px;
    margin: 10px;
    display: block;
    transition: all 400ms linear;
    position: relative;
}

.item img:hover {
    transform: scale(2);
    z-index: 10;
}

.item span {
    display: block;
    padding: 5px;
    font-weight: bold;
    text-align: center;
}

/* locations section */

.flex-container.locations {
    padding-top: 5px;
}

#locations {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg");
    height: 500px;
    background-position: center center;
    padding-top: 70px;
    background-repeat: no-repeat;
}

#locations .flex-container {
    margin: auto;
    width: 1100px;
}

.location {
    opacity: 1;
    padding: 10px;
    margin: 5px 20px;
    background-color: black;
    flex-basis: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Contact section */

#contact {
    height: 200px;
}

.social span {
    font-size: 1.2rem;
    font-weight: bold;
}

.social i {
    margin-left: 5px;
    margin-right: 5px;
}

.copyright {
    font-style: italic;
    font-weight: lighter;
    font-size: 0.7rem;
}